<!-- Contenido de la pagina Login -->

<div
  class="relative flex flex-col w-full min-w-72 break-words mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0 bg-white"
>
  <div class="flex-auto py-10 pt-0 w-full">
    <div
      class="flex justify-center border-b-[3px] border-black mt-2 px-4 lg:px-10"
    >
      <h1 class="text-lg md:text-xl lg:text-3xl">Control de operarios</h1>
    </div>
    <div class="flex flex-col px-4 lg:px-10 pt-5">
      <form [formGroup]="userForm">
        <div class="relative w-full mb-3">
          <label
            class="block uppercase text-blueGray-600 text-sm font-bold mb-2"
            htmlFor="grid-password"
          >
            Correo
          </label>

          <div
            class="flex justify-between border-0 bg-gray-200 rounded text-sm shadow"
          >
            <input
              type="text"
              name="email"
              formControlName="email"
              [class.error]="
                userForm.controls['email'].invalid && !submitInvalid
              "
              class="px-3 py-3 placeholder-slate-400 bg-gray-200 text-gray-600 focus:outline-none focus:ring w-full duration-150"
              placeholder="example@gmail.com"
            />
          </div>
          <div
            *ngIf="userForm.controls['email'].invalid && !submitInvalid"
            class="alertInput"
          >
            <p
              *ngIf="userForm.controls['email'].errors?.['required'] "
              class=""
            >
              El campo del correo es obligatorio
            </p>
          </div>
        </div>

        <div class="relative w-full mb-3">
          <label
            class="block uppercase text-blueGray-600 text-sm font-bold mb-2"
            htmlFor="grid-password"
          >
            Contraseña
          </label>
          <div
            [class.error]="
              userForm.controls['password'].invalid && !submitInvalid
            "
            class="flex justify-between border-0 pr-2 bg-gray-200 rounded text-sm shadow"
          >
            <input
              [type]="showPassword ? 'text' : 'password'"
              required
              formControlName="password"
              class="px-3 py-3 placeholder-slate-400 bg-gray-200 text-gray-600 focus:outline-none focus:ring w-[90%] duration-150"
              placeholder="contraseña"
            />
            <button type="button p-2">
              <i
                (click)="showPassword = true"
                *ngIf="!showPassword"
                class="fa-regular fa-eye-slash"
              ></i>
              <i
                (click)="showPassword = false"
                *ngIf="showPassword"
                class="fa-regular fa-eye"
              ></i>
            </button>
          </div>

          <div
            *ngIf="userForm.controls['password'].invalid && !submitInvalid"
            class="alertInput"
          >
            <p
              *ngIf="userForm.controls['password'].errors?.['required'] "
              class=""
            >
              La contraseña es obligatoria
            </p>
            <p
              *ngIf="userForm.controls['password'].errors?.['minlength'] "
              class=""
            >
              La contraseña debe de tener mas de 6 caracteres
            </p>
          </div>
        </div>

        <div class="text-center mt-6">
          <button
            type="button"
            (click)="validateFormLogin()"
            class="bg-buttons text-white active:bg-buttons-secondary text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
          >
            Entrar
          </button>
        </div>
      </form>
      <div class="flex flex-wrap mt-6 relative">
        <div class="w-1/2">
          <a [routerLink]="['/restore_password']" class="text-black">
            <small>¿Olvido su contraseña?</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
