<!-- Layout de la pagina de dashboard, dentro de esta esta la sección de usuarios y operarios -->

<div class="relative h-full w-full min-h-screen bg-principal">
  <div>
    <button
      type="button"
      (click)="changeSidebar(true)"
      class="fixed top-1 z-10 left-1 block lg:hidden"
    >
      abrir
    </button>
  </div>
  <app-sidebar
    class="absolute z-20 w-full lg:w-80"
    [sidebarToggle]="sidebarToggle"
    (changeSidebar)="changeSidebar($event)"
  ></app-sidebar>
  <div class="z-0 w-full h-full min-h-screen">
    <app-header></app-header>
    <div class="content px-2 md:px-10 lg:pl-80 mx-auto w-full -m-24">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
